<Alloy>
	<!-- We're having 2 wrapping views here. The "Wrapper" is for the white background color
		 "menuContent" is so it can be adjusted for padding as we do in the ios/drawer controller -->
	<View id="wrapper">
		<View id="menuContent">
			<Label id="title">Menu</Label>
		</View>
	</View>
</Alloy>